*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pyzwzwzwz
lerobot/
docs/
YaLongR8/
20260813_第二十一届全国大学生智能汽车竞赛天途&亚龙智慧救援创意组比赛规则 V1.5.pdf/
*/vscode/
*/build/
*/devel/
*/debug/
*/logs/


